*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
}

input {
  height: 20px;
  border: 2px solid #8d8888;
}

form button {
  border-radius: 0 5px 5px 0px;
  border: none;
}
.fake {
  margin-bottom: 20px;
}
.search-form {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 8px;

  background-color: rgb(39, 124, 236);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);

  border-radius: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 10px);
  margin-left: calc(-1 * 10px);
}

.photo-card {
  margin-top: 38px;
  margin-left: 10px;
  flex-basis: calc(100% / 4 - 10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[data-more] {
  background-color: rgba(39, 124, 236, 0.836);
  color: rgb(250, 252, 252);
  border-radius: 4px;
  width: 200px;
  height: 25px;
  border: none;
}

.is-hiden {
  display: none;
}
